@charset "utf-8";

@import './config';

@import './vendor/icomoon';

@import './placeholders/basics';
@import './placeholders/buttons';
@import './placeholders/typography';

@import './helpers/animations';

@import './intro';
@import './animals';

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
}

::selection {
  background: transparent;
  text-shadow: none;
}

body {
  height: 100%;
  font: normal normal normal 16px/1.4 'Open Sans', sans-serif;
  background: $body-default-background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  &:before {
    display: none;
    content: 'mobile';
  }
}

h1 {
  font-family: 'Henny Penny', cursive;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;

  .main-loading {
    font-size: .9em;
    font-weight: 900;
    letter-spacing: 1px;
    color: #333;
    animation: blink .4s ease infinite alternate;
  }
}

.footer {
  @extend %basic-footer;
  color: $footer-text-color;
  padding: .6em .4em;
  background: #111;
  width: 100%;

  a {
    font-weight: 700;
    color: $footer-link-color;
  }
}

@media(min-width: $media-desktop) {
  body:before {
    display: none;
    content: 'desktop';
  }

  .container {
    .main-loading {
      font-size: 1.4em;
    }
  }
}
