// screen resolutions
$media-desktop: 900px;

// default elements

//body
$body-default-background-color: #eee;

//default button
$button-background-color: rgba(0, 0, 0, .1);
$button-background-hover-color: rgba(0, 0, 0, .3);
$button-text-color: #222;
$button-text-hover-color: #fafafa;
$button-border-radius: 10px;
$button-padding: 1em;


//default footer
$footer-text-color: #666;
$footer-link-color: #666;