.intro {
  @extend %basic-screen;
  justify-content: center;
  text-align: center;
  background: url('../images/backgrounds/intro-mobile.jpg') center center no-repeat #8EA604;
  padding: 2em;
  z-index: 2;

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    height: 100%;
    padding: 2em;
    transform: scale3d(1, 1, 1) rotate(-1.8deg);
  }

  .page-title {
    @extend %page-title;
    animation: pulse 5s ease infinite;
  }

  .start-app {
    @extend %basic-button;
    font-size: 0.9em;
    margin: 4em auto 0 auto;
    transform: rotate(-1.8deg);
  }

  .page-description {
    font-size: .7em;
    color: #333;
    transform: rotate(-1.8deg);
    margin-top: 1em;
  }

  .credits {
    font-size: .44em;
    color: #BF3100;
    margin-top: 6em;

    a {
      text-decoration: none;
      color: #555;
    }
  }
}

@media(min-width: $media-desktop) {
  .intro {
    background-image: url('../images/backgrounds/intro.jpg');

    .page-title {
      font-size: 6em;
    }
  }
}