@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1) rotate(-1.8deg);
  }

  50% {
    transform: scale3d(1.4, 1.4, 1.4) rotate(-1.8deg);
  }

  to {
    transform: scale3d(1, 1, 1) rotate(-1.8deg);
  }
}

@keyframes pulseSlow {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes shuffle {
  0% {
    background-image: $dog;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  20% {
    background-image: $cow;
  }

  40% {
    background-image: $dove;
  }

  60% {
    background-image: $frog;
    transform: scale3d(1.1, 1.1, 1.1);
    opacity: .4;
  }

  80% {
    background-image: $pig;
  }

  100% {
    background-image: $snake;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes shuffleAlt {
  0% {
    background-image: $cat;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  20% {
    background-image: $dolphin;
  }

  40% {
    background-image: $duck;
  }

  60% {
    background-image: $monkey;
    transform: scale3d(1.1, 1.1, 1.1);
    opacity: .4;
  }

  80% {
    background-image: $owl;
  }

  100% {
    background-image: $lion;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
