doctype html
html
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Henny+Penny|Open+Sans:300,400,600,700,800')
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(src="/javascripts/vendor/sw-toolbox.js")
  body
    div(class='container', data-window='main')
      block content
      span(class="main-loading") [ loading ]

    script(src="/javascripts/bundle.min.js", charset="utf-8")
