%page-title {
  font-size: 4em;
  line-height: .9;
  color: #F5BB00;
  text-shadow: 5px 0 5px rgba(0, 0, 0, 0.4);
}

%basic-footer {
  font-size: .7em;
  line-height: 1.8;
  text-align: center;
  letter-spacing: -0.5px;
  color: #333;
}